@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
padding: 0px;
margin: 0px;
font-family: 'Playfair Display', serif;
}
.text {
font-size: 20px;
border-radius: 25px;
border-style: solid;
border-color: white;
padding: 10px;
margin-right: 20px;
margin-left: 20px;
}

#button-loggain {
font-size: 20px;
padding: 10px;
background-color: white;
width: 100px;
display: flex;
justify-content: center;
border-radius: 25px;
margin-top: 10px;
margin-right:20px;
background-color: #e0b767;
}

.flex-end {
display: flex;
justify-content: flex-end;
}


#nya-anvandare {
background-image:url(/img/inloggning-img.png);
background-repeat: no-repeat;
color: white;
font-size: 24px;
width: 100%;
height: 100%;
display: flex;
align-items: center;
flex-direction: column;
}


#nya-anvandare h2 {
background-color: rgb(255, 255, 255);
color: black;
padding: 15px;
border-radius: 25px;
margin-top: 10%;

}


#button-nyanvander  {
display: flex;
border-style: solid;
border-radius: 25px;
padding: 10px;
background-color: #e0b767;
border-color: #e0b767;;
border-width: 1px;
color:black;
width: 240px;
justify-content: center;
margin-top: 20px;
}

#login-container {
display: flex;
margin-bottom: 20px;
justify-content:center;
flex-direction: row;
height: 100%;


}

#loggain-användare {
background-color: #138557ec;
}

#loggain-användare p {
margin-top: 30px;
font-size: 25px;
background-color: white;
padding: 10px;
display: flex;
border-radius: 25px;
width: 400px;
justify-content: center;

}

#valkommen-loggain {
display: flex;
justify-content: center;
padding: 10px;
margin-bottom: 30px;
}



form {
display: flex;
flex-direction: column;
margin-right: 20px;
margin-left: 20px;
padding: 10px;
}

#nr1 {
margin-bottom: 10px;
}

#navbar img {
    width: 100px;
    border-radius: 100%;
    margin-top: 12px;
    }
    
    #navbar {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #138558;
    color:white;
    }
    
    #navbar h2 {
    margin-top: 40px;
    }