@charset "UTF-8";

#navbar {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    }
    
    #upperpart {
    background-color:#65806d;
    }
    #navbar h1 {
    font-size: 40px;
    }
    
    
    #navbar p {
    margin-top: 40px;
    font-size: 25px;
    }
    #sokruta {
    background-color: #C8CbC0;
    width: 400px;
    padding-bottom: 0px;
    margin-top: 30px;
    border-radius: 25px;
    border-color: #072F38;
    height: 60px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    }
    #sokruta p {
    text-align: center;
    padding-top: 20px;
    }
    
    
    ph {
        color: #072F38;
        color: #65806d;
        color: #C8CbC0;
        color: #BD7423;
        color: #334E3b;
        
        }

        .filtering {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-gap: 5px;
            padding-bottom: 3%;
            padding-left: 0%;
            text-decoration: none;
        }

        form{
            font-size: 1.5rem;
            text-decoration: none;
        }

        a{
            color: black;
            text-decoration: none;
        }
        a:link{
            color: black;
            text-decoration: none;
        }

        a:active{
            color: black;
            text-decoration: none;
        }
        a:visited{
            color:black;
            text-decoration: none;
        }

        label{
            color: black;
            text-decoration: none;
        }
