@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


* {
font-family: 'Playfair Display', serif;
padding: 0%;
margin: 0%;
}

#navbar {
    display: flex;
    justify-content: space-around;
    height: 100px;
    background-color: #138558;
    color:white;
    font-size: 20px;
    }
    
    #navbar h2 {
    margin-top: 40px;
    text-decoration: none;
    color: white;
    
    }
    
    #navbar a {
        text-decoration: none;
        color: white;
        font-size: 23px;
    }
    
    #logga-ikon img {
        width: 100px;
        }
    
    #logga-ikon {
    display: flex;
    }





    
    #list{
        visibility: hidden;
        width: 0%;
    }
    #upperpart {
    background-color:#65806d;
    }
   
#sokruta {
    width: 350px;
    margin-top: 30px;
    border-radius: 25px;
    border-color: #138558;
    height: 60px;
    margin-bottom: 20px;
}

.animals {
    display: list-item;
}

#sokruta p {
    text-align: center;
    padding-top: 20px;
}

/*CSS för navbar */

.filtering {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding-bottom: 3%;
    padding-left: 0%;
}

form {
    font-size: 1.5rem;
}

h1 {
    text-align: center;
}

#rubrik1 {
    border-bottom: solid 5px #138558;
    width: fit-content;
    margin-left: 38%;
}


#vandringslederna {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

#aktivtetssidan {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

img.bildtest {
    padding-top: 0.5%;
    width: 100%;
}

img.aktivtetsbilder {
    padding-top: 0.5%;
    padding-top: 0.5%;
    width: 93%;
    height: 100%;

}


#ledinfo {
    display: grid;
    grid-template-columns: 2.1fr 0.2fr 1fr;
    margin-bottom: 2%;
    padding-left: 0%;
    margin-left: 3%;
    visibility: hidden;
}

#valt li {
    display: inline-block;
    padding: 1%;
    list-style: none;
    background-color: rgb(245, 242, 242);
}

#valt {
    width: 80%;

}

#cross {
    margin-left: 80%;
}


#valt img {
    padding-top: 0.5%;
    width: 90%;
}

img {
    max-height: 300px;
}

a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.knappar,
.knappar2 {
    border: #e0b767;
    background-color: #e0b767;
    padding: 5px;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    margin-top: 2%;
    cursor: pointer;
}
#testaralt{
    margin-top: 80%; 
    margin-right: 80%;
    padding: 10%;
    font-size: 15px;
    border-style: solid;
    border-width: 0px;
    border-radius: 0px;
   
}
#testaralt button{
    margin: 50%;
    display: block;
}

.tillknappar{
    border: #e0b767;
    background-color: #e0b767;
    padding: 5px;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    margin-top: 2%;
    margin-left: 40%;
    margin-top: 10%;
    width: 120px;
}
.tillknappar a{
    font-size: 1.8rem;
}

.städer {
    border-bottom: solid 3px #138558;
    padding-bottom: 1%;
}

.aktiviter {
    border-bottom: solid 3px #138558;
    padding-bottom: 1%;
}

#testid {
    display: grid;

    border: #138558;
    border-style: solid;
    padding: 20px;
    line-height: 25px;
    margin-bottom: 10px;

}

#aktivitetsnav {
    text-decoration: none;
    margin: 0%;
}

#aktivitetsnav a {
    font-size: 1.5rem;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
    display: block;
}

#aktivitetsnav a:active {
    color: black;
    text-decoration: underline;
}

#aktivitetsnav a:visited {
    color: black;
    text-decoration: none;
}


#vatteninfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2%;
    padding-left: 0%;
    margin-left: 3%;
    visibility: hidden;
}

#outdoorinfo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 2%;
    padding-left: 0%;
    margin-left: 3%;
    visibility: hidden;
}

#valt2 {
    width: 50%;
    border: 2px solid black;
}


#flickrImg2 {
    width: 100%;
}


#väderImg2 {
    padding-left: 80%;
}

#utomhus {
    padding-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#väder2 {
    font-size: 24px;
    text-align: center;
}

/*css för kommentar delen under aktivterna*/

#head {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 600px;
    }
    
    #head button {
    width: 100px;
    margin-top: 10px;
    }
    
    #inlagg {
    border: #138558;
    border-style: solid;
    padding: 20px;
    line-height: 25px;
    }
    
    #inlagg-kommentar {
    border: #138558;
    border-style: solid;
    padding: 20px;
    line-height: 25px;
    display: flex;
    }
    
    #container {
     visibility: hidden;
     margin-left: 2.5%;
     margin-top: 40px;
    }
    
    #container-kommentar {
    margin-left: 2.5%;
    margin-top: 40px;
    }
    
    
    
    #buttonles button {
    width: 110px;
    padding: 1px;
    margin: 5px;
    }
    
    #test {
    display: flex;
    flex-direction: column;
    }
    
    #head-kommentar {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width: 600px;
    }
    
    #head-kommentar p{
    margin-left: 10px;
    }
    
    #container-result {
        display: flex;
        margin-left: 2.3%;
        }
        #knapparna-komment {
            display: flex;
         margin-left: 2.3%;
            }
            
            #andra-inlagg {
            margin-left: 2.5%;
            }
            
            #input2 {
            width: 390px;
            height: 30px;
            }
            
            #myBtn{
            margin-right: 10px;
            }
            #har {
                margin-bottom: 10px;
                background-color: white;
                border-bottom: #000;
                border-style: solid;
                border-width: 2px;
                border: #138558;
                border-style: solid;
                line-height: 25px;
                padding-left: 10px;
                padding-bottom: 10px;
                padding-top: 5px;
                border-radius: 1px;
                width: 590px;
               
            }

            #runBtn2{
                margin-left: 10px;
                }

                #input1 {
                    width: 500px; 
                    height: 50px;
                    margin-top: 10px;
                    
                    }
                    
                    #runBtn {
                    margin-left: 9px;
                    padding: 5px;
                    margin-top: 10px;
                    }

                    #inputform{
                        display: flex;
                        margin-left: 2.3%;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 20px;
                    
                    }
                    #knapp-text {
                        display: flex;
                        margin-left: 2.3%;
                        margin-bottom: 10px;
                    }
                    #bea {
                        margin-left: 0%;
                        width: 590px;
                        margin-bottom: 10px;
                        background-color: white;
                        line-height: 25px;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        padding-top: 15px;
                        }
                        #testarboder{
                            line-height: 25px;
                            padding-left: 10px;
                            padding-bottom: 10px;
                            padding-top: 15px;
                            border: #138558;
                            border-style: solid;
                        }

                     

                        #testdiv{
                          margin-left: 2.3%;
                          width:900px;
                         background: transparent; 
                         display: inline-flexbox;
                        }
                        
                        #laddabild,#laddabild2,#laddabild3{
                            width:280px;
                            height:150px; 
                            background: transparent; 
                            border: 2px solid black;
                            float: left; 
                            margin: 0.5%;
                            margin-bottom: 3%;
                          
                        }
                      
                    

                        #bildrubrik{
                            margin-left: 2.3%;
                            font-size: 2rem;
                        }
                       

                     

